<div id="container">
    <div id="header-area">
        <h1>
            Welcome to {{title}}!!
          </h1>        
        <app-header></app-header>  
      </div>
      <div id="wrapper">
          <div id="sidebar">
                <app-add-product-reactive [myTitle]="title" [myList]=""></app-add-product-reactive>
              
          </div>
          <div id="content-area">
              <app-product-display 
              *ngFor="let p of products" 
              (onAddToCartBtnClick)="onCartClicked()"
              [myProduct]="p"></app-product-display>            
          </div>
      </div>
</div>





