<div id="container">
    <div id="header-area">
          <h1>
            {{title | uppercase | productName}}!!
          </h1>
          <h1>
            {{title | productName | uppercase}}!!
          </h1>
          <input type="text" [(ngModel)]="title">     
          <app-header></app-header>   
      </div>
      <div id="wrapper">
          <div id="sidebar">
          </div>
          <div id="content-area">
              <app-product-display 
              *ngFor="let p of products" 
              (onAddToCartBtnClick)="onCartClicked()"
              [myProduct]="p"></app-product-display>            
          </div>
      </div>
</div>





